@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome </h1>
    <img src="https://www.travelctm.com/wp-content/themes/ctm/images/ctm-logo-long-header.png" alt="CTM Demo" />
    <p>@ViewData["Name"] building Web apps with ASP.NET Core</a>.</p>
</div>
